<a href="https://colab.research.google.com/github/charoo-rumsan/community_tool_R-D/blob/main/NER.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. SPACY FOR NAMED ENTITY RECOGNIZATION

In [ ]:
import spacy

#creating an object and loading the pre-trained model for "English"
nlp= spacy.load("en_core_web_sm")

In [ ]:
nlp.pipe_names

['tok2vec', 'tagger', 'parser', 'attribute_ruler', 'lemmatizer', 'ner']

In [ ]:
doc = nlp("tesla inc is going to acquire twitter for 45 billion")

for ent in doc.ents:
  print(ent.text,"|",ent.label_,"|",spacy.explain(ent.label_))

tesla inc | ORG | Companies, agencies, institutions, etc.
45 billion | MONEY | Monetary values, including unit

In [ ]:
doc1 = nlp("tesla inc is going to acquire Twitter for 45 billion")

for ent in doc.ents:
  print(ent.text,"|",ent.label_,"|",spacy.explain(ent.label_))

tesla inc | ORG | Companies, agencies, institutions, etc.
45 billion | MONEY | Monetary values, including unit

In [ ]:
doc2 = nlp("tesla inc is going to acquire Twitter inc for 45 billion")

for ent in doc.ents:
  print(ent.text,"|",ent.label_,"|",spacy.explain(ent.label_))

tesla inc | ORG | Companies, agencies, institutions, etc.
45 billion | MONEY | Monetary values, including unit

In [ ]:
from spacy import displacy

displacy.render(doc, style= "ent")
displacy.render(doc1, style= "ent")
displacy.render(doc2, style= "ent")

In [ ]:
nlp.pipe_labels['ner']

['CARDINAL',
 'DATE',
 'EVENT',
 'FAC',
 'GPE',
 'LANGUAGE',
 'LAW',
 'LOC',
 'MONEY',
 'NORP',
 'ORDINAL',
 'ORG',
 'PERCENT',
 'PERSON',
 'PRODUCT',
 'QUANTITY',
 'TIME',
 'WORK_OF_ART']

In [ ]:
doc3= nlp("Michael Bloomberg founded Bloomberg in 1982")

for ent in doc.ents:
  print(ent.text,"|",ent.label_,"|",spacy.explain(ent.label_))

tesla inc | ORG | Companies, agencies, institutions, etc.
45 billion | MONEY | Monetary values, including unit

In [ ]:
doc4= nlp("Michael Bloomberg founded Bloomberg LLP in 1982")

for ent in doc.ents:
  print(ent.text,"|",ent.label_,"|",spacy.explain(ent.label_))

tesla inc | ORG | Companies, agencies, institutions, etc.
45 billion | MONEY | Monetary values, including unit

In [ ]:
type(doc[0])

spacy.tokens.token.Token

In [ ]:
type(doc[2:5])

spacy.tokens.span.Span

In [ ]:
# imports the Span class from spacy.tokens, which is necessary to create custom spans (sequences of tokens) within a doc

from spacy.tokens import Span

s1= Span(doc, 0, 1, label='ORG')#tesla
s2= Span(doc, 6, 7, label='ORG')#twitter

doc.set_ents([s1, s2], default="unmodified")

In [ ]:
for ent in doc.ents:
  print(ent.text, "|", ent.label_)

tesla inc | ORG
twitter | ORG
45 billion | MONEY

In [ ]:
#Extract all the Geographical (cities, Countries, states) names from a given text

text = """Kiran want to know the famous foods in each state of India. So, he opened Google and search for this question. Google showed that
in Delhi it is Chaat, in Gujarat it is Dal Dhokli, in Tamilnadu it is Pongal, in Andhrapradesh it is Biryani, in Assam it is Papaya Khar,
in Bihar it is Litti Chowkha and so on for all other states"""

doc = nlp(text)



#list for storing all the names
all_gpe_names = []

for ent in doc.ents:
  if ent.label_ == 'GPE':     #checking the whether token belongs to entity "GPE" [Geographical location]
    all_gpe_names.append(ent)



#finally printing the results
print("Geographical location Names: ", all_gpe_names)
print("Count: ", len(all_gpe_names))

Geographical location Names:  [Kiran, India, Delhi, Gujarat, Tamilnadu, Andhrapradesh, Assam, Bihar]
Count:  8

In [ ]:
#Extract all the birth dates of cricketers in the given Text


text = """Sachin Tendulkar was born on 24 April 1973, Virat Kholi was born on 5 November 1988, Dhoni was born on 7 July 1981
and finally Ricky ponting was born on 19 December 1974."""

doc = nlp(text)



#list for storing all the dates
all_birth_dates = []

for ent in doc.ents:
  if ent.label_ == 'DATE':     #checking the whether token belongs to entity "DATE" [Dates]
    all_birth_dates.append(ent)



#finally printing the results
print("All Birth Dates: ", all_birth_dates)
print("Count: ", len(all_birth_dates))

All Birth Dates:  [24 April 1973, 5 November 1988, 7 July 1981, 19 December 1974]
Count:  4

In [ ]:
text= """
Apple launched the new iPhone 15 in California on September 12, 2023.
Nike collaborated with Serena Williams to release a new tennis collection in Paris.
"""

In [ ]:
doc_list = nlp(text)

In [ ]:
doc = nlp(text)
print("Named entities:\n")
for ent in doc.ents:
  print(f"{ent.text:30} -> {ent.label_:10} ({spacy.explain(ent.label_)})")

Named entities:

Apple                          -> ORG        (Companies, agencies, institutions, etc.)
15                             -> CARDINAL   (Numerals that do not fall under another type)
California                     -> GPE        (Countries, cities, states)
September 12, 2023             -> DATE       (Absolute or relative dates or periods)
Nike                           -> ORG        (Companies, agencies, institutions, etc.)
Serena Williams                -> PERSON     (People, including fictional)
Paris                          -> GPE        (Countries, cities, states)

https://huggingface.co/dslim/bert-base-NER

2. HUGGING FACE bert-base-NER

In [ ]:
from transformers import AutoTokenizer, AutoModelForTokenClassification
from transformers import pipeline

tokenizer = AutoTokenizer.from_pretrained("dslim/bert-base-NER")
model = AutoModelForTokenClassification.from_pretrained("dslim/bert-base-NER")

nlp = pipeline("ner", model=model, tokenizer=tokenizer)
example = "My name is Wolfgang and I live in Berlin"

ner_results = nlp(example)
print(ner_results)

Some weights of the model checkpoint at dslim/bert-base-NER were not used when initializing BertForTokenClassification: ['bert.pooler.dense.bias', 'bert.pooler.dense.weight']
- This IS expected if you are initializing BertForTokenClassification from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing BertForTokenClassification from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).
Device set to use cpu

[{'entity': 'B-PER', 'score': np.float32(0.9990139), 'index': 4, 'word': 'Wolfgang', 'start': 11, 'end': 19}, {'entity': 'B-LOC', 'score': np.float32(0.999645), 'index': 9, 'word': 'Berlin', 'start': 34, 'end': 40}]

In [ ]:
!pip install transformers

Requirement already satisfied: transformers in /usr/local/lib/python3.12/dist-packages (4.56.1)
Requirement already satisfied: filelock in /usr/local/lib/python3.12/dist-packages (from transformers) (3.19.1)
Requirement already satisfied: huggingface-hub<1.0,>=0.34.0 in /usr/local/lib/python3.12/dist-packages (from transformers) (0.34.4)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.12/dist-packages (from transformers) (2.0.2)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.12/dist-packages (from transformers) (25.0)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.12/dist-packages (from transformers) (6.0.2)
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.12/dist-packages (from transformers) (2024.11.6)
Requirement already satisfied: requests in /usr/local/lib/python3.12/dist-packages (from transformers) (2.32.4)
Requirement already satisfied: tokenizers<=0.23.0,>=0.22.0 in /usr/local/lib/python3.12/dist-packages (from transformers) (0.22.0)
Requirement already satisfied: safetensors>=0.4.3 in /usr/local/lib/python3.12/dist-packages (from transformers) (0.6.2)
Requirement already satisfied: tqdm>=4.27 in /usr/local/lib/python3.12/dist-packages (from transformers) (4.67.1)
Requirement already satisfied: fsspec>=2023.5.0 in /usr/local/lib/python3.12/dist-packages (from huggingface-hub<1.0,>=0.34.0->transformers) (2025.3.0)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.12/dist-packages (from huggingface-hub<1.0,>=0.34.0->transformers) (4.15.0)
Requirement already satisfied: hf-xet<2.0.0,>=1.1.3 in /usr/local/lib/python3.12/dist-packages (from huggingface-hub<1.0,>=0.34.0->transformers) (1.1.9)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests->transformers) (3.4.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests->transformers) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from requests->transformers) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.12/dist-packages (from requests->transformers) (2025.8.3)

In [ ]:
from transformers import AutoTokenizer, AutoModelForTokenClassification
from transformers import pipeline

In [ ]:
tokenizer = AutoTokenizer.from_pretrained("dslim/bert-base-NER")
model = AutoModelForTokenClassification.from_pretrained("dslim/bert-base-NER")

Some weights of the model checkpoint at dslim/bert-base-NER were not used when initializing BertForTokenClassification: ['bert.pooler.dense.bias', 'bert.pooler.dense.weight']
- This IS expected if you are initializing BertForTokenClassification from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing BertForTokenClassification from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

In [ ]:
classify= pipeline("ner", model=model, tokenizer=tokenizer)

Device set to use cpu

In [ ]:
data="""
Spider-Man is a superhero in American comic books published by Marvel Comics.
Created by writer-editor Stan Lee and artist Steve Ditko, he first appeared in the anthology comic book Amazing Fantasy #15 (August 1962) in the Silver Age of Comic Books.
Considered one of the most popular and commercially successful superheroes, he has been featured in comic books, television shows, films, video games, novels, and plays.
"""

In [ ]:
results= classify(data)
results

[{'entity': 'B-MISC',
  'score': np.float32(0.674075),
  'index': 1,
  'word': 'Spider',
  'start': 1,
  'end': 7},
 {'entity': 'I-MISC',
  'score': np.float32(0.81974846),
  'index': 2,
  'word': '-',
  'start': 7,
  'end': 8},
 {'entity': 'I-MISC',
  'score': np.float32(0.4952223),
  'index': 3,
  'word': 'Man',
  'start': 8,
  'end': 11},
 {'entity': 'B-MISC',
  'score': np.float32(0.99962866),
  'index': 8,
  'word': 'American',
  'start': 30,
  'end': 38},
 {'entity': 'B-ORG',
  'score': np.float32(0.99293655),
  'index': 13,
  'word': 'Marvel',
  'start': 64,
  'end': 70},
 {'entity': 'I-ORG',
  'score': np.float32(0.9891046),
  'index': 14,
  'word': 'Comics',
  'start': 71,
  'end': 77},
 {'entity': 'B-PER',
  'score': np.float32(0.999689),
  'index': 21,
  'word': 'Stan',
  'start': 105,
  'end': 109},
 {'entity': 'I-PER',
  'score': np.float32(0.999681),
  'index': 22,
  'word': 'Lee',
  'start': 110,
  'end': 113},
 {'entity': 'B-PER',
  'score': np.float32(0.999754),
  'index': 25,
  'word': 'Steve',
  'start': 125,
  'end': 130},
 {'entity': 'I-PER',
  'score': np.float32(0.9998042),
  'index': 26,
  'word': 'Di',
  'start': 131,
  'end': 133},
 {'entity': 'I-PER',
  'score': np.float32(0.9969903),
  'index': 27,
  'word': '##t',
  'start': 133,
  'end': 134},
 {'entity': 'I-PER',
  'score': np.float32(0.9935429),
  'index': 28,
  'word': '##ko',
  'start': 134,
  'end': 136},
 {'entity': 'B-MISC',
  'score': np.float32(0.9971103),
  'index': 38,
  'word': 'Amazing',
  'start': 184,
  'end': 191},
 {'entity': 'I-MISC',
  'score': np.float32(0.9983546),
  'index': 39,
  'word': 'Fantasy',
  'start': 192,
  'end': 199},
 {'entity': 'B-MISC',
  'score': np.float32(0.9936382),
  'index': 48,
  'word': 'Silver',
  'start': 225,
  'end': 231},
 {'entity': 'I-MISC',
  'score': np.float32(0.99764156),
  'index': 49,
  'word': 'Age',
  'start': 232,
  'end': 235},
 {'entity': 'I-MISC',
  'score': np.float32(0.9862883),
  'index': 50,
  'word': 'of',
  'start': 236,
  'end': 238},
 {'entity': 'I-MISC',
  'score': np.float32(0.99180955),
  'index': 51,
  'word': 'Comic',
  'start': 239,
  'end': 244},
 {'entity': 'I-MISC',
  'score': np.float32(0.9981711),
  'index': 52,
  'word': 'Books',
  'start': 245,
  'end': 250}]